<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Activity</title>
</head>
<body>



{% if count %}
    <h2>Here are the top 10 Users by Activity</h2>
    <form method="POST" action="{{ url_for('getActivityCount') }}">
        <ol>
            {% for x in count %}
                <li>{{x[0]}}</li>
            {% endfor %}
        </ol>
    </form>
{% endif %}


{% if not count %}
    <h3>Sorry, no user activity at this moment.</h3>
{% endif %}


</body>
<li><a href='/'>Home</a></li>
<li><a href='/profile'>Profile</a></li>
</html>