<!DOCTYPE html>
<html lang="en">

<form method="post" action="{{ url_for('manageAlbums') }}">
	<select name="album">
		{% for album in albums %}
		<option value="{{album}}">{{album}}</option>
		{% endfor %}
	</select> <br/>
	<input type="submit" name="submit" value="search"/> <br/>
	<input type="submit" name="submit" value="delete"/> <br/>
</form>

<form method="post" action="{{ url_for('manageAlbums') }}">
    {% if photos %}
    <h2>Here's your photos for "{{album}}"</h2>
        <ul>
        {% for photo in photos %}
            <li><img src='data:image/png;base64, {{photo[0]}}'/></li>
            <button name="submit" value="{{photo[1]}}" type="submit">DELETE PHOTO</button>
        {% endfor %}
        </ul>
    {% endif %}
</form>

    <ul>
    <li><a href='/'>Home</a></li>
        <li><a href='/logout'>Log Out</a></li>
        <a href='/upload'>Upload</a>
    </ul>
