<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Viewing</title>
</head>
<body>

<p><a href='/profile'>profile</a></p>

<form method="post" action="{{url_for('photo_stream') }}">

	<label for="tags">Filter for tags</label>
	<select name = "existing_tags" required="true">
		{% for tag in tagList %}
		<option value="{{tag}}">{{tag}}</option>
		{% endfor %}
	</select><br/>


	<label for="tagTextLabel">Add list of tags to filter above (comma separate no spaces)</label>
	<input type="text" name="tags" value="{{tags}}">
	<select name="filter" required="true">
		<option value="all">All Photos</option>
		<option value="me">My Photos</option>
	</select>

	<input type="submit" name="submit" value="submit"/> <br/>

</form>

{% if topTags %}
<h2>Here are the top ten tags on BS</h2>
{% for tag in topTags %}
            <li type="1">
            {{ tag[0] }}
            </li>
        {% endfor %}
{% endif %}


{% if photos %}
    <h2>Here are the photos</h2>
        <ul>
        {% for photo in photos %}
            <li>
            {{ photo[2] }}
            <form method="post" action="{{url_for('photo_stream') }}">
            <img src='data:image/png;base64, {{photo[0]}}'/>
            <button name="like" value="{{ photo[1] }}" type="submit">Like</button>

            </form>
                <form method="POST" action="{{ url_for('postComment') }}">
                    <br>Comment:<br>
                    <input type="text" name="comment" id="comment">
                    <input type="hidden" name="pid" value="{{ photo[1] }}">
                    <input type="submit" value="submit">
                </form>
            <form method="post" action="{{url_for('photo_stream') }}">
            <button type="submit" name="view" value="{{photo[1]}}">View likes and comments</button>
            </form>

            </li>
        {% endfor %}
        </ul>
{% endif %}

{% if multPhotos %}
    <h2>Here are the photos</h2>
        <ul>
        {% for photo in multPhotos %}
            {% for phot in photo %}
            <li>
            {{phot[2]}}<br>
            <form method="post" action="{{url_for('photo_stream') }}">
            <img src='data:image/png;base64, {{phot[0]}}'/>
            <button name="like" value="{{ phot[1] }}" type="submit">Like</button>
            </form>


                <form method="POST" action="{{ url_for('postComment') }}">
                    <br>Comment:<br>
                    <input type="text" name="comment" id="comment">
                    <input type="hidden" name="pid" value="{{ phot[1] }}">
                    <input type="submit" value="submit">
                </form>
            <form method="post" action="{{url_for('photo_stream') }}">
            <button type="submit" name="view" value="{{phot[1]}}">View likes and comments</button>
            </form>

            </li>
                {% endfor %}
        {% endfor %}
        </ul>
{% endif %}


<br>
{% if likesVisible %}
	<label>Likes : <strong>{{likes}}</strong></label><br>
	<label>Users Who Liked: {{users}}</label><br>
	{% for comment in comments %}
			<label>Commented by: {{comment[0]}}: "{{comment[1]}}" on ({{comment[2]}})</label><br>
	{% endfor %}
{% endif %}







</body>
</html>