<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name[0] }}!</h1>
{% endif %}

{% if albums %}
    <li><a href='/manageAlbums'>Manage Albums and Photos</a></li><br>
{% endif %}



<li><a href='/photoViewing'>Photo Viewing</a></li><br>
<li><a href='/upload'>Upload</a></li><br>
<li><a href='/search'>Search for Friends or Comments</a></li><br>
<li><a href='/activity'>See Top Users</a></li><br>
<li> <a href='/logout'>Log Out</a> </li><br>

{% if photoRecs %}
<h2>Here are your recommended photos:</h2>
<ul>
	{% for photo in photoRecs %}
	<li><img src='data:image/png;base64, {{photo[0]}}'/></li>
	{% endfor %}
</ul>

{% endif %}

{% if friends %}
<h3>Here are your Friends</h3>

        {% for friend in friends %}
            <li>{{ friend }}</li>

        {% endfor %}


    <h4>Recommended Friends</h4>
        <form method = "POST" action="{{ url_for("addRecFriend") }}">
          <select name="addRecFriend">
              {% for rec in r_friends %}
                  <option value={{ rec }}>{{ rec }}</option>
              {% endfor %}
          </select>
    <input type="submit" value="Add Friend" name="Submit"/>
    </form>

{% endif %}




