<p><a href='/profile'>profile</a></p>
<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
               <label for="caption">Caption this:</label><br />
                 <input type="text" name="caption" required='true' /><br />
              <label for="tags">Tag this:</label><br />
                <input type="text" name="tags" required='false' /><br />
             <label for="tags">Album:</label><br />
                <select name="album" required='true'>
                {% for album in Albums %}
                <option value="{{album}}">{{album}}</option>
                {% endfor %}
            </select><br />
                <input type="submit" value="Upload" name="Submit"/>

            </form>

        <form method="post" enctype="multipart/form-data" action="/upload">

        <label for="Album Name">What would you like to call your new album?:</label><br />
        <input type="text" name="albumName" required='false' /><br />
        <input type="submit" value="createAlbum" name="Submit"/>

        </form>





